h1{
	
	font-size: 4rem;
	/*display: block;*/
	color: rgba(0,0,0,0.5);
	letter-spacing: .5rem;
	line-height: 2px;
	font-weight: 600;
	text-align: center;
	top: 15%;
}


body{
	background: linear-gradient(to right, #00ff00, #ff0000);
	font-family: 'Raleway',sans-serif;
	height: 100%;
}
h2{
	font-size: 2rem;
	color: rgba(0,0,0,0.5);
	letter-spacing: .3rem;
	line-height: 2px;
	font-weight: 400;
	text-align: center;

}

h3{

}